[packages]
click = "*"
typing-extensions = "*"
typing = "*"
python-gettext = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
freezegun = "*"
devtools = "*"
mypy = "*"
pylint = "*"
autoflake = "*"
bandit = "*"

[requires]
python_version = "3.8"
